<main class="main">
    <div class="registrations-form flex flex-col p-8 backdrop-blur-md shadow-lg rounded-lg max-h-4/5 w-1/2 gap-6">

        <div class="flex flex-col justify-center items-center space-x-6">
            <div class="flex flex-row justify-evenly">
                <img class='w-auto h-32' src="logo-dark.png" alt="logo">
                <div class="w-40 h-1 bg-transparent"></div>
                <img class='w-auto h-32' src="logo-meso.png" alt="logo-meso">
            </div>
            <p class="text-2xl font-bold mt-8">Formulario Registro de Torneo</p>
        </div>

        <div class="flex flex-col w-full gap-2">
            <div class="flex flex-row gap-3 w-full">
                <label>Nombre del Torneo
                    <input class="rounded-lg w-full" type="text" [(ngModel)]="tournament.tournament_name">
                </label>
                <label>Deporte
                    <select class="rounded-lg w-full" [(ngModel)]="tournament.sport.id">
                        <option value="0">
                            Selecciona un deporte
                        </option>
                        <option *ngFor="let sport of sports" [ngValue]="sport.id">
                            {{ sport.sport_name }}
                        </option>
                    </select>
                </label>
            </div>
            <div class="flex flex-row gap-3 w-full">
                <label>Fecha de Inicio
                    <input class="rounded-lg w-full" type="date" [(ngModel)]="tournament.start_date">
                </label>
                <label>Fecha de Final
                    <input class="rounded-lg w-full" type="date" [(ngModel)]="tournament.end_date">
                </label>
            </div>
            <div class="flex flex-row gap-3 w-full">
                <label>Descripción
                    <textarea class="rounded-lg w-full" [(ngModel)]="tournament.description"></textarea>
                </label>
            </div>
            <div class="flex flex-row gap-3 w-full">
                <label>Miembros Mínimos
                    <input class="rounded-lg w-full" type="number" [(ngModel)]="tournament.min_team_members">
                </label>
                <label>Miembros Máximos
                    <input class="rounded-lg w-full" type="number" [(ngModel)]="tournament.max_team_members">
                </label>
            </div>
            <div class="flex flex-row gap-3 w-full">
                <label>Estado
                    <select class="rounded-lg w-full" [(ngModel)]="tournament.status">
                        <option value="0">Selecciona un estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                        <option value="3">En Progreso</option>
                        <option value="4">Finalizado</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="flex justify-between items-center">
            <button class="outlined px-6 rounded-lg text-lg font-bold" (click)="cancel()">
                Cancelar
            </button>
            <button class="filled px-6 rounded-lg text-lg font-bold" (click)="registerTournament()">
                Registrar Torneo
            </button>
        </div>
    </div>
    <p-toast />
</main>
