<main class="main">
    <div class="min-h-screen bg-cover bg-center flex items-center justify-center">
        <div
            class="registrations-form flex flex-col w-auto h-[90vh] min-w-[65rem] p-5 bg-white/10 backdrop-blur-md shadow-lg rounded-3xl overflow-hidden">

            <div class="flex flex-row justify-center items-center mb-8 space-x-6">
                <img class="w-20 h-20" src="logo-dark.png" alt="logo">
                <h1>Registrar Equipo</h1>
            </div>

            <div class="flex-1 overflow-auto pr-2">
                <div class="team-form flex flex-col justify-center items-center mb-6">
                    <fieldset class="flex flex-col gap-6 w-full max-w-2xl">
                        <label>Nombre del Equipo
                            <input class="rounded-lg w-full" type="text" [(ngModel)]="teamName" (input)="saveTeamInfo()">
                        </label>
                        <label>Color de Camisola
                            <input class="rounded-lg w-full" type="text" [(ngModel)]="shirtColor" (input)="saveTeamInfo()">
                        </label>
                        <label>Logo del Equipo
                            <input class="rounded-lg w-full" type="image">
                        </label>
                    </fieldset>
                </div>

                <div class="basis-[80vh]">
                    <div class="flex justify-between items-center mb-4">
                        <h1>Jugadores</h1>
                        <a id="add-player"
                            class="bg-green-800 hover:bg-green-700 text-white w-10 h-10 rounded-full flex items-center justify-center text-xl font-bold" 
                            routerLink="/players">+</a>
                    </div>

                    <div class="bg-white/20 backdrop-blur-sm p-2 rounded-xl min-h-65 h-64 overflow-auto">
                        <div class="w-full overflow-x-auto">
                            <table
                                class="min-w-full text-sm text-left text-gray-100 border-separate border-spacing-y-1.5">
                                <thead class="text-xs uppercase bg-white/10 text-white">
                                    <tr>
                                        <th class="px-4 py-3 rounded-l-xl">Nombre</th>
                                        <th class="px-4 py-3">Posición</th>
                                        <th class="px-4 py-3">Edad</th>
                                        <th class="px-4 py-3">Carnet</th>
                                        <th class="px-4 py-3 rounded-r-xl">Modificaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let player of players; let i = index" class="bg-white/10 hover:bg-white/20 transition-colors duration-200 rounded-xl shadow-sm">
                                        <td class="px-4 py-2 rounded-l-xl">{{ player.nombre }}</td>
                                        <td class="px-4 py-2">
                                            <span
                                                class="bg-green-700 text-white text-xs font-medium px-2 py-1 rounded-full">{{ player.posicion.name }}</span>
                                        </td>
                                        <td class="px-4 py-2">{{ player.edad }}</td>
                                        <td class="px-4 py-2">{{ player.carnet }}</td>
                                        <td class="px-4 py-2 flex gap-3 items-center justify-center"> 
                                            <button>
                                                Editar
                                            </button>
                                            <button class="text-red-600 hover:underline" (click)="deletePlayer(i)">
                                                Eliminar
                                            </button> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex justify-between items-center">
                <a class="bg-green-800 hover:bg-green-700 px-6 py-3 text-white rounded-3xl text-xl font-bold"
                    (click)="registrationsCancel()">Cancelar Inscripción</a>
                <button
                    class="bg-green-800 hover:bg-green-700 px-6 py-3 text-white rounded-3xl text-xl font-bold">Inscribir</button>
            </div>

        </div>
    </div>
</main>