.logo {
  width: 120px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid rgb(var(--color-2));
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  position: relative;
}

.logo-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 57px;
  height: auto;
}