<main class="">
    <div class="flex flex-col justify-center items-center w-full h-full backdrop-blur-xs">
        <div class="flex flex-row flex-wrap justify-center items-center rounded-lg login-card">
            <div class="relative quote-container">
                <app-quote authorSize="text-2xl" quoteSize="text-3xl"/>
            </div>
            <div class="login-form flex flex-col justify-evenly items-center w-full">
                <img class='w-1/3 h-auto' src="logo-dark.png" alt="logo">
                <fieldset class="flex flex-col gap-2 w-3/4">
                    <p class="text-lg font-bold text-center">Acceso Adminsitrativo</p>
                    <label>Usuario <br>
                        <input class="rounded-lg w-full" type="text" [(ngModel)]="username">
                    </label>
                    <label>Contraseña <br>
                        <input class="rounded-lg w-full" type="password" [(ngModel)]="password">
                    </label>
                </fieldset>
                <fieldset class="flex flex-col w-40 gap-1">
                    <button class="rounded-lg py-0.5" (click)="handleSubmit()" id="sign-in">Entrar</button>
                    <button class="outlined rounded-lg" routerLink="/home" id="regresar">Regresar</button>
                </fieldset>
            </div>
            <p-toast></p-toast>
        </div>
    </div>
</main>