main {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/pexels-markusspiske.jpg');
  background-position: center;
  background-size: cover;
}

.login-card{
  background-color: rgba(var(--color-5), 0.7);
  height: 700px;
}
.quote-container {
  width: 450px;
  height: 100%;
  background-image: url('../../../assets/pexels-mike.jpg');
  background-position: center;
  background-size: cover;
}

.login-form {
  width: 400px;
  height: 100%;
}

h4 {
  margin-top: 50%;
  color: #c8eec1;
  font-size: 20px;
}

.text-base {
  text-align: left;
  margin-bottom: 80%;
  font-size: 30px;
}

.quote-decorator {
  width: 7px;
  background-color: #c8eec1;
}

input {
  background-color: rgba(2, 40, 2, 0.347);
  border-radius: 100px;
}

button {
  background-color: rgba(4, 24, 4, 0.442);
  border-radius: 100px;
  color: #c8eec1;
}

#sign-in {
  padding: 8px;
  margin-top: 20px;
}

#regresar {
  padding: 15px;
}