<main class="main">

    <div class="w-full flex flex-col items-center">

        <div class="w-full flex items-center justify-between mb-2">
            <div class="flex items-center gap-4 ml-4 p-4">
                <h1 class="text-xl font-bold whitespace-nowrap">Árbitros</h1>
                <a class="hover:bg-green-700 flex items-center justify-center rounded-full p-2">
                    <i class="pi pi-plus-circle" style="color: var(--color-1)"
                        (click)="showRefereeModal = true; isEditing = false"></i>
                </a>
            </div>
            <div class="flex-grow flex justify-center">
                <div class="w-80">
                    <p-iconfield iconPosition="left" class="w-full">
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" placeholder="Buscar árbitro por nombre..."
                            [(ngModel)]="searchReferee" (input)="filterTeams()" class="w-full" />
                    </p-iconfield>
                </div>
            </div>
        </div>

        <div class="bg-white/20 backdrop-blur-sm p-2 rounded-lg min-h-65 max-h-* overflow-auto w-full">
            <table class="min-w-full text-sm text-left text-gray-100 border-separate border-spacing-y-1.5">
                <thead class="text-xs uppercase bg-white/10 text-white">
                    <tr>
                        <th class="px-3 py-3">Nombre</th>
                        <th class="px-3 py-3">Experiencia</th>
                        <th class="px-3 py-3">Estado</th>
                        <th class="px-3 py-3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let referee of filteredReferees"
                        class="bg-white/10 hover:bg-white/20 transition-colors duration-200 rounded-xl shadow-sm">
                        <td class="px-4 py-2">{{ referee.name }}</td>
                        <td class="px-4 py-2">{{ referee.experience_years }}</td>
                        <td class="px-4 py-2">{{ referee.status?.status_name }}</td>
                        <td class="px-4 py-2 flex gap-3 items-center justify-center">
                            <button class="hover:underline">
                                <i class="pi pi-pencil" style="color: var(--color-1)"
                                    (click)="editReferee(referee)"></i>
                            </button>
                            <button class="text-red-600 hover:underline" *ngIf="referee.id !== undefined"
                               (click)="removeReferee(referee.id)">
                                <i class="pi pi-trash" style="color: red"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<p-dialog header="Registrar Árbitro" [(visible)]="showRefereeModal" [style]="{ width: '50rem' }" [modal]="true"
    [dismissableMask]="true">

    <form (ngSubmit)="registerReferee()" #refForm="ngForm" class="flex flex-col gap-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block text-sm mb-1">Nombre</label>
                <input type="text" pInputText [(ngModel)]="referee.name" name="name" required class="w-full" />
            </div>
            <div>
                <label class="block text-sm mb-1">Años de experiencia</label>
                <input type="number" pInputText [(ngModel)]="referee.experience_years" name="experience_years" required
                    min="0" class="w-full" />
            </div>
            <div *ngIf="isEditing" class="flex items-center gap-4 mb-6">
                <label for="status" class="font-semibold w-28 text-white">Estado</label>
                <p-dropdown id="status" class="flex-auto" [options]="statuses" optionLabel="status_name"
                    [(ngModel)]="referee.status" name="status" placeholder="Seleccione un estado"></p-dropdown>
            </div>
        </div>
        <div class="flex justify-end mt-4 gap-2">
            <button pButton type="button" class="p-button-text" (click)="cancelReferee()">Cancelar</button>
            <button pButton type="submit" class="p-button-primary">
                {{ isEditing ? 'Guardar cambios' : 'Crear' }}
            </button>
        </div>
    </form>
</p-dialog>

<p-toast></p-toast>