<main class="h-screen w-full flex flex-col bg-[var(--col-4)]">
    <section class="w-full h-full flex">
        <nav class="w-1/7 h-full bg-[var(--col-5)] p-4">
            <ul class="flex flex-col gap-4">
                <li class="bg-[var(--col-4)] p-2 rounded-lg">
                    <a class="block w-full h-full" [routerLink]="['/tournament']">Torneos</a>
                </li>
                <li class="bg-[var(--col-4)] p-2 rounded-lg">
                    <a class="block w-full h-full" [routerLink]="['/tournament']">Equipos</a>
                </li>
                <li class="bg-[var(--col-4)] p-2 rounded-lg">
                    <a class="block w-full h-full" [routerLink]="['/tournament']">Jugadores</a>
                </li>
            </ul>
        </nav>
        <div class="w-4/5 h-full p-4">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>