<main class="main">
  <div class="content">
    <div class="hero-container">
      <div class="hero">
        <nav>
          <div class="left-opts">
            <a href="#" class="nav-link">Mi Equipo</a>
            <a href="#" class="nav-link">Calendario</a>
            <a href="#" class="nav-link">Tablero</a>
          </div>
          <app-logo />
          <div class="right-opts">
            <a href="#" class="nav-link">Inscripciones</a>
            <a href="#" class="nav-link">Administracion</a>
          </div>
        </nav>

        <div class="events">
          <div class="news">
            <p class="title">Evento</p>
            <p class="content">cualquier evento random, o un lorem ipsum dolor sit amet...</p>
          </div>
          <div class="last-events">
            <p class="title">
              Ultimos resultados
            </p>
              <div class="row">
                <strong>Equipo1</strong>
                <span>4</span>
              </div>
              <div class="row">
                <strong>Equipo2</strong>
                <span>2</span>
              </div>
              <div class="row">
                <strong>Equipo1</strong>
                <span>4</span>
              </div>
              <div class="row">
                <strong>Equipo2</strong>
                <span>2</span>
              </div>
              <div class="row">
                <strong>Equipo1</strong>
                <span>4</span>
              </div>
              <div class="row">
                <strong>Equipo2</strong>
                <span>2</span>
              </div>

          </div>
        </div>

        <div class="quote">
          <div class="quote-decorator"></div>
          <div class="quote-content">
            <p class="author">San Juan Bosco</p>
            <p class="phrase">
              “Ser bueno no consiste en no cometer ninguna falta, sino en saber enmendarse”.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />