main {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/pexels-markusspiske.jpg');
    background-position: center;
    background-size: cover;
}

.players-card{
    background-color: rgba(var(--color-5), 0.8);
}

p {
    color: rgb(var(--color-4));
}

label {
    color: rgb(var(--color-1));
}

button, input, select{
    height: 33px;
    background-color: rgb(var(--color-1));
    color: rgb(var(--color-5));
}

input, select{
    background-color: rgba(var(--color-4), 0.3);
    color: rgb(var(--color-2));
}

input, select {
    text-indent: 0.3rem;
    padding-top: 3px;
    padding-bottom: 3px;
}
  
button:hover{
    transform: translate(1.1%);
}
.outlined {
    background-color: transparent;
    color: rgb(var(--color-1));
    border: 2px solid rgb(var(--color-1));
}