<main class="main">
  <div class="content">
    <div class="hero-container">
      <div class="hero">
        <nav>
          <div class="left-opts">
            <a href="#" class="nav-link" routerLink="/my-team">Mi Equipo</a>
            <a href="#" class="nav-link" routerLink="/calendar">Calendario</a>
            <a href="#" class="nav-link">Tablero</a>
          </div>
          <app-logo></app-logo>
          <div class="right-opts">
            <a class="nav-link" routerLink="/register-team">Inscripciones</a>
            <a class="nav-link" routerLink="/login">Administracion</a>
          </div>
        </nav>

        <div class="events">
          <div class="news">
            <div class="carousel-container">
              <div *ngIf="sections[currentIndex] === 'tournaments'">
                <h1>Torneos</h1>
              </div>
              <div *ngIf="sections[currentIndex] === 'inscriptions'">
                <h1>Inscripciones</h1>
              </div>
              <div *ngIf="sections[currentIndex] === 'matchs'">
                <h1>Partidos</h1>
              </div>
              <div *ngIf="sections[currentIndex] === 'foto'">
                <h1>Galería</h1>
              </div>
            </div>
          </div>

          <div class="last-events">
            <p class="title">Últimos resultados</p>
            <div class="row">
              <strong>Equipo1</strong>
              <span>4</span>
            </div>
            <div class="row">
              <strong>Equipo2</strong>
              <span>2</span>
            </div>
            <div class="row">
              <strong>Equipo1</strong>
              <span>3</span>
            </div>
            <div class="row">
              <strong>Equipo2</strong>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-quote></app-quote>
    <app-footer></app-footer>
  </div>
</main>
