<main class="main">
  <div class="content">
    <div class="hero-container">
      <div class="hero">
        <nav>
          <div class="left-opts">
            <a href="#" class="nav-link" routerLink="/my-team">Mi Equipo</a>
            <a href="#" class="nav-link" routerLink="/calendar">Calendario</a>
            <a href="#" class="nav-link">Tablero</a>
          </div>
          <app-logo></app-logo>
          <div class="right-opts">
            <a class="nav-link" routerLink="/register-team">Inscripciones</a>
            <a class="nav-link" routerLink="/login">Administracion</a>
          </div>
        </nav>

        <div class="events">
          <div class="news">
            <div class="carousel-container">
              <div *ngIf="sections[currentIndex] === 'tournaments'">
                <li *ngFor="let t of tournaments" style="margin-bottom: 1.5rem;">
                  <strong>{{ t.tournament_name }}</strong> - {{ t.start_date | date:'shortDate' }}
                  <p>{{ t.description }}</p>
                  <h1>hao</h1>
                </li>

              </div>
              <div *ngIf="sections[currentIndex] === 'inscriptions'">
                <h1>Inscripciones</h1>
              </div>
              <div *ngIf="sections[currentIndex] === 'matchs'">
                <h1>Partidos</h1>
              </div>
              <div *ngIf="sections[currentIndex] === 'foto'">
                <h1>Galería</h1>
              </div>
            </div>
          </div>

          <div class="last-events">
            <p class="title">Últimos resultados</p>
            <div class="row">
              <strong>Equipo1</strong>
              <span>4</span>
            </div>
            <div class="row">
              <strong>Equipo2</strong>
              <span>2</span>
            </div>
            <div class="row">
              <strong>Equipo1</strong>
              <span>3</span>
            </div>
            <div class="row">
              <strong>Equipo2</strong>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section style="background-color: rgb(30, 56, 56);" class="text-white w-full py-24">
      <div class="max-w-7xl mx-auto px-8">
        <h2 class="text-5xl font-bold text-center mb-20">Misión y Visión</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
          <div style="background-color: rgb(247, 247, 247); color: rgb(30, 56, 56);" class="p-14 shadow-xl h-full">
            <h3 class="text-4xl font-bold mb-8">Misión</h3>
            <p class="text-xl leading-loose text-justify">
              Somos una Universidad Salesiana, que a través del Sistema Preventivo de Don Bosco, fomentamos el
              aprendizaje y la investigación de calidad, centrados en la persona del estudiante en su formación como
              profesional competente, ético, responsable y comprometido con la sociedad.
            </p>
          </div>

          <div style="background-color: rgb(247, 247, 247); color: rgb(30, 56, 56);" class="p-14 shadow-xl h-full">
            <h3 class="text-4xl font-bold mb-8">Visión</h3>
            <p class="text-xl leading-loose text-justify">
              Ser una institución de estudios superiores sólida, abierta y flexible, reconocida nacional e
              internacionalmente por la formación humana y académica de profesionales íntegros, comprometidos en la
              búsqueda de soluciones a los problemas de la sociedad.
            </p>
          </div>
        </div>
      </div>
    </section>

    <app-quote></app-quote>
    <app-footer></app-footer>
  </div>
</main>