<main class="main">
  <div class="w-full flex flex-col items-center">
  <div class="w-full flex justify-end mb-4">
    <div class="w-80">
      <p-iconfield iconPosition="left" class="w-full">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          placeholder="Buscar equipo por nombre..."
          [(ngModel)]="searchTerm"
          (input)="filterTeams()"
          class="w-full"
        />
      </p-iconfield>
    </div>
  </div>

    <div class="bg-white/20 backdrop-blur-sm p-2 rounded-lg min-h-65 max-h-72 overflow-auto w-full">
      <table class="min-w-full text-sm text-left text-gray-100 border-separate border-spacing-y-1.5">
        <thead class="text-xs uppercase bg-white/10 text-white">
          <tr>
            <th class="px-3 py-3">Nombre</th>
            <th class="px-3 py-3">Capitan</th>
            <th class="px-3 py-3">Codigo</th>
            <th class="px-3 py-3">Entrenador</th>
            <th class="px-3 py-3">Fecha de Inscripcion</th>
            <th class="px-3 py-3">Fecha de Aceptacion</th>
            <th class="px-3 py-3">Torneo</th>
            <th class="px-3 py-3">Estado</th>
            <th class="px-3 py-3">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of filteredTeams; let idx = index"
            class="bg-white/10 hover:bg-white/20 transition-colors duration-200 rounded-xl shadow-sm">
            <td class="px-4 py-2">{{ team.name }}</td>
            <td class="px-4 py-2">{{ team.captain }}</td>
            <td class="px-4 py-2">{{ team.teamCode }}</td>
            <td class="px-4 py-2">{{ team.coach?.name }}</td>
            <td class="px-4 py-2">{{ team.inscription_date }}</td>
            <td class="px-4 py-2">{{ team.approved_date }}</td>
            <td class="px-4 py-2">{{ team.tournament?.tournament_name }}</td>
            <td class="px-4 py-2">{{ team.status?.status_name }}</td>
            <td class="px-4 py-2 flex gap-3 items-center justify-center">
              <button class="hover:underline">
                <i class="pi pi-pencil" style="color: var(--color-1)"></i>
              </button>
              <button class="text-red-600 hover:underline">
                <i class="pi pi-trash" style="color: red"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p-toast></p-toast>
</main>