<main class="main">
  <div class="w-full flex flex-col items-center">
    <div class="w-full flex justify-end mb-4">
      <div class="w-80">
        <p-iconfield iconPosition="left" class="w-full">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" placeholder="Buscar equipo por nombre..." [(ngModel)]="searchTerm"
            (input)="filterTeams()" class="w-full" />
        </p-iconfield>
      </div>
    </div>

    <div class="bg-white/20 backdrop-blur-sm p-2 rounded-lg min-h-65 max-h-* overflow-auto w-full">
      <table class="min-w-full text-sm text-left text-gray-100 border-separate border-spacing-y-1.5">
        <thead class="text-xs uppercase bg-white/10 text-white">
          <tr>
            <th class="px-3 py-3">Nombre</th>
            <th class="px-3 py-3">Capitan</th>
            <th class="px-3 py-3">Codigo</th>
            <th class="px-3 py-3">Entrenador</th>
            <th class="px-3 py-3">Fecha de Inscripcion</th>
            <th class="px-3 py-3">Fecha de Aceptacion</th>
            <th class="px-3 py-3">Torneo</th>
            <th class="px-3 py-3">Estado</th>
            <th class="px-3 py-3">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of filteredTeams"
            class="bg-white/10 hover:bg-white/20 transition-colors duration-200 rounded-xl shadow-sm">
            <td class="px-4 py-2">{{ team.name }}</td>
            <td class="px-4 py-2">{{ team.captain }}</td>
            <td class="px-4 py-2">{{ team.teamCode }}</td>
            <td class="px-4 py-2">{{ team.coach?.name }}</td>
            <td class="px-4 py-2">{{ team.inscription_date }}</td>
            <td class="px-4 py-2">{{ team.approved_date }}</td>
            <td class="px-4 py-2">{{ team.tournament?.tournament_name }}</td>
            <td class="px-4 py-2">{{ team.status?.status_name }}</td>
            <td class="px-4 py-2 flex gap-3 items-center justify-center">
              <button class="text-red-600 hover:underline">
                <i class="pi pi-check" style="color: rgb(113, 255, 113)" *ngIf="team.id !== undefined" (click)="aceptTeam(team.id)"></i>
              </button>
              <button class="hover:underline">
                <i class="pi pi-pencil" style="color: var(--color-1)" *ngIf="team.id !== undefined"
                  (click)="editTeam(team.id); disabledVar === false"></i>
              </button>
              <button class="text-red-600 hover:underline">
                <i class="pi pi-trash" style="color: red"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<p-dialog header="Información del Equipo" [(visible)]="showTeamModal" [style]="{ width: '80rem', height: '45rem' }"
  [modal]="true" [dismissableMask]="true">
  <span class="text-sm text-gray-300 block mb-6">Actualiza la información del equipo.</span>

  <div class="grid grid-cols-2 gap-4">
    <div class="flex items-center gap-4">
      <label for="name" class="font-semibold w-32 text-white">Nombre</label>
      <input pInputText id="name" class="flex-auto" [(ngModel)]="teamPlayer.name" autocomplete="off" [disabled]="disabledVar"/>
    </div>

    <div class="flex items-center gap-4">
      <label for="captain" class="font-semibold w-32 text-white">Capitán</label>
      <input pInputText id="captain" class="flex-auto" [(ngModel)]="teamPlayer.captain" autocomplete="off" [disabled]="disabledVar"/>
    </div>

    <div class="flex items-center gap-4">
      <label for="email" class="font-semibold w-32 text-white">Correo</label>
      <input pInputText id="email" class="flex-auto" [(ngModel)]="teamPlayer.contact_email" autocomplete="off" [disabled]="disabledVar"/>
    </div>

    <div class="flex items-center gap-4">
      <label for="phone" class="font-semibold w-32 text-white">Teléfono</label>
      <input pInputText id="phone" class="flex-auto" [(ngModel)]="teamPlayer.contact_phone" autocomplete="off" [disabled]="disabledVar"/>
    </div>

    <div class="flex items-center gap-4">
      <label for="code" class="font-semibold w-32 text-white">Código</label>
      <input pInputText id="code" class="flex-auto" [(ngModel)]="teamPlayer.teamCode" autocomplete="off" disabled />
    </div>

    <div class="flex items-center gap-4">
      <label for="inscription" class="font-semibold w-32 text-white">Fecha inscripción</label>
      <input type="text" id="inscription" class="flex-auto" [value]="teamPlayer.inscription_date | date: 'longDate'"
        disabled />
    </div>

    <div class="flex items-center gap-4">
      <label for="approved" class="font-semibold w-32 text-white">Fecha aprobación</label>
      <input type="text" id="approved" class="flex-auto" [value]="teamPlayer.approved_date | date: 'longDate'"
        disabled />
    </div>
  </div>
  <div class="col-span-2">
    <h2 class="text-white font-bold mb-2 text-lg">Datos del Torneo</h2>
  </div>

  <div class="grid grid-cols-3 gap-4 mb-4">
    <div class="flex flex-col">
      <label class="font-semibold text-white">Nombre</label>
      <input type="text" class="w-full" [value]="teamPlayer.tournament?.tournament_name" disabled />
    </div>

    <div class="flex flex-col">
      <label class="font-semibold text-white">Estado</label>
      <input type="text" class="w-full" [value]="teamPlayer.tournament?.status?.status_name" disabled />
    </div>

    <div class="flex flex-col">
      <label class="font-semibold text-white">Fecha Inicio</label>
      <input type="text" class="w-full" [value]="teamPlayer.tournament?.start_date | date: 'longDate'" disabled />
    </div>

    <div class="flex flex-col">
      <label class="font-semibold text-white">Fecha Fin</label>
      <input type="text" class="w-full" [value]="teamPlayer.tournament?.end_date | date: 'longDate'" disabled />
    </div>

    <div class="flex flex-col">
      <label class="font-semibold text-white">Miembros (min - max)</label>
      <input type="text" class="w-full"
        [value]="teamPlayer.tournament?.min_team_members + ' - ' + teamPlayer.tournament?.max_team_members" disabled />
    </div>

    <div class="flex flex-col">
      <label class="font-semibold text-white">Inscripción Cierra</label>
      <input type="text" class="w-full" [value]="teamPlayer.tournament?.inscriptions_close_date | date: 'longDate'"
        disabled />
    </div>
  </div>

  <div class="flex justify-center items-center mt-10 mb-2 span-5 gap-2">
    <span class="text-white font-semibold text-2xl">Jugadores registrados:</span>
    <span class="font-bold text-3xl" [ngClass]="{
      'text-green-400': teamPlayer.players.length || 0
    }">
      {{ teamPlayer.players.length || 0 }}
    </span>
  </div>

  <div class="bg-white/20 backdrop-blur-sm p-2 rounded-lg min-h-65 max-h-72 overflow-auto w-full">
    <table class="min-w-full text-sm text-left text-gray-100 border-separate border-spacing-y-1.5">
      <thead class="text-xs uppercase bg-white/10 text-white">
        <tr>
          <th class="px-3 py-3">Nombres</th>
          <th class="px-3 py-3">Carnet</th>
          <th class="px-3 py-3">Edad</th>
          <th class="px-3 py-3">Posición</th>
          <th class="px-3 py-3">Fecha de Creacion</th>
          <th class="px-3 py-3">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teamPl of teamPlayersPosition"
          class="bg-white/10 hover:bg-white/20 transition-colors duration-200 rounded-xl shadow-sm">
          <td class="px-4 py-2">{{ teamPl.player?.names}}</td>
          <td class="px-4 py-2">{{ teamPl.player?.carnet }}</td>
          <td class="px-4 py-2">{{ teamPl.player?.age }}</td>
          <td class="px-4 py-2">{{ teamPl.playerPosition?.name }}</td>
          <td class="px-4 py-2">{{ teamPl.player?.created_at| date: 'short' }}</td>
          <td class="px-4 py-2">{{ teamPl.player?.status?.status_name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-between mt-7 gap-4">
    <p-button label="Cancelar" severity="secondary" (click)="showTeamModal = false" />
    <p-button label="Aceptar Equipo"  *ngIf="teamPlayer.id !== undefined && disabledVar" (click)="confirmTeam(teamPlayer.id)" />
    <p-button label="Actualizar" severity="info" *ngIf="!disabledVar"/>
  </div>

</p-dialog>

<p-toast></p-toast>