<main class="">
    <div class="flex flex-col justify-center items-center w-full h-full backdrop-blur-xs">
        <div class="flex flex-row flex-wrap justify-center items-center rounded-lg players-card">
            <div class="players-form flex flex-col justify-evenly items-center">
                <form [formGroup]="playerForm" (ngSubmit)="savePlayer()">
                    <fieldset class="flex flex-col gap-2">
                        <img class='w-1/6 h-auto' src="logo-dark.png" alt="logo">
                        <img class='w-1/6 h-auto' src="logo-meso.jpeg" alt="logo-meso">
                        <p class="text-lg font-bold">Formulario Registro de Jugadores</p>
                        <label>Nombre <br>
                            <input class="rounded-lg" type="text" formControlName="nombre">
                        </label>
                        <label>Posicion <br>
                            <select class="rounded-lg" type="number" formControlName="posicion">
                               <option *ngFor="let posicion of playerPositions" [ngValue]="posicion">
                                {{ posicion.name }}
                               </option>
                            </select>
                        </label>
                        <label>Edad <br>
                            <input class="rounded-lg" type="number" formControlName="edad">
                        </label>
                        <label>Carnet <br>
                            <input class="rounded-lg" type="number" formControlName="carnet">
                        </label>
                    </fieldset>
                    <fieldset class="flex flex-col w-40 gap-1 mt-6 space-y-2">
                        <button type="submit" class="rounded-lg py-0.5" id="register">Registrar Jugador</button>
                        <button class="outlined rounded-lg" routerLink="/registrations" id="regresar">Regresar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>