main {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/pexels-markusspiske.jpg');
    background-position: center;
    background-size: cover;
}

.players-card{
    background-color: rgba(var(--color-5), 0.7);
    height: 700px;
}

.palyers-form {
    width: 400px;
    height: 100%;
}